flows.json
[{"id":"6d442771.af11a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dd6653a1.5a4a","type":"inject","z":"6d442771.af11a8","name":"women safety","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"women safety","payloadType":"str","x":230,"y":820,"wires":[["1d30031.f7fd8fd","ac91feb7.e68e2","b7305eef.7cd15","397c5ecf.e85d62"]]},{"id":"1d30031.f7fd8fd","type":"debug","z":"6d442771.af11a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":860,"wires":[]},{"id":"ac91feb7.e68e2","type":"ui_button","z":"6d442771.af11a8","name":"HELP","group":"e9e9b72f.eb1a38","order":0,"width":0,"height":0,"passthru":false,"label":"Help","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"json","topic":"topic","topicType":"msg","x":280,"y":980,"wires":[["1d30031.f7fd8fd"]]},{"id":"7adee02d.a1fd7","type":"ibmiot in","z":"6d442771.af11a8","authentication":"quickstart","apiKey":"cc4360c4.829f5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":720,"wires":[["ac91feb7.e68e2","b7305eef.7cd15","397c5ecf.e85d62"]]},{"id":"b7305eef.7cd15","type":"ui_button","z":"6d442771.af11a8","name":"location","group":"e9e9b72f.eb1a38","order":1,"width":0,"height":0,"passthru":false,"label":"location","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{location}","payloadType":"json","topic":"topic","topicType":"msg","x":440,"y":980,"wires":[["1d30031.f7fd8fd"]]},{"id":"397c5ecf.e85d62","type":"ui_button","z":"6d442771.af11a8","name":"contact","group":"e9e9b72f.eb1a38","order":2,"width":0,"height":0,"passthru":false,"label":"contact","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{contact}","payloadType":"json","topic":"topic","topicType":"msg","x":120,"y":1000,"wires":[["1d30031.f7fd8fd"]]},{"id":"913f3338.4f3aa","type":"inject","z":"6d442771.af11a8","name":"women safety","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"women safety","payloadType":"str","x":200,"y":200,"wires":[["55772d1c.005a14","682fc77d.91b148","26b01cf5.a368e4"]]},{"id":"55772d1c.005a14","type":"debug","z":"6d442771.af11a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":220,"wires":[]},{"id":"682fc77d.91b148","type":"template","z":"6d442771.af11a8","name":"temparature","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: msg.payload=msg.payload.d.temparature}","output":"str","x":280,"y":400,"wires":[["55772d1c.005a14"]]},{"id":"a2b89654.b61ce8","type":"ibmiot in","z":"6d442771.af11a8","authentication":"apiKey","apiKey":"cc4360c4.829f5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":80,"wires":[["55772d1c.005a14"]]},{"id":"26b01cf5.a368e4","type":"ui_button","z":"6d442771.af11a8","name":"","group":"e9e9b72f.eb1a38","order":3,"width":0,"height":0,"passthru":false,"label":"Help","tooltip":"","color":"","bgcolor":"","icon":"","payload":"help","payloadType":"str","topic":"topic","topicType":"msg","x":520,"y":380,"wires":[[]]},{"id":"e9e9b72f.eb1a38","type":"ui_group","name":"Default","tab":"d5a4a690.269ca8","order":1,"disp":true,"width":"6","collapse":false},{"id":"cc4360c4.829f5","type":"ibmiot","name":"IOT","keepalive":"60","serverName":"3u593s.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"d5a4a690.269ca8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]